<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>

    <div class="about-title">            
        <h1>SEARCH</h1>
    </div>

    <section class="products">
        <h2 class="product-title">OUR PRODUCTS</h2>

        <ul class="product-grid">
            <% products.forEach( product => { %>
                <li>
                    <div class="product-item">
                        <a href="/product/<%= product.id %>">
                        <p class="product-bf">BEST SELLER</p>
                        <img src="<%= product.img %>" alt="<%= product.name %> image">
                        </a>
                    </div>
                    <p class="product-txt"><%= product.color %></p>
                    <a href="/product/<%= product.id %>" class="product-txt product-link"><%= product.name %></a>
                    <p class="product-txt">$ <%= product.price %></p>
                </li>
            <% }) %>

        </ul>
    </section>

    <a href="/home" class="all">VIEW ALL PRODUCTS</a>

    <%- include('../partials/arrivals') %>
    
    <%- include('../partials/features') %>
    
    <section class="social">
        <div class="social-flex">
            <a href="https://www.facebook.com/" class="social-item">
                <i class="fab fa-facebook"></i>                
            </a>
            <a href="https://twitter.com/" class="social-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-item">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/" class="social-item">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>

    <div>
        <a href="#" class="chat">            
            <i class="chat-icon fas fa-comment-dots"></i>
        </a>
    </div>

    <%- include('../partials/footer') %>
        
    <script src="/javascripts/main.js"></script>
    </body>
    </html>