<%- include('../partials/header') %>

<body>
    <%- include('../partials/nav') %>
    <section>
        <div class="banner">
            <img src="/images/pantbanner.jpg" alt="" class="banner-img1">
            <img src="/images/pantbanner2.jpg" alt="" class="banner-img2">
            <div class="banner-content">
                <p>CARGOWEAR ESSENTIAL</p>
                <h2>X1 CARGO RESTOCK</h2>
                <a href="#" class="banner-link">SHOP NOW</a>
            </div>
        </div>
    </section>

    <section class="products">
        <h2 class="product-title">OUR PRODUCTS</h2>

        <ul class="product-grid">
            <% products.forEach( product => { %>
                <li>
                    <div class="product-item">
                        <a href="/product/<%= product.id %>">
                        <p class="product-bf">BEST SELLER</p>
                        <img src="<%= product.img %>" alt="<%= product.name %> image">
                        </a>
                    </div>
                    <p class="product-txt"><%= product.color %></p>
                    <a href="/product/<%= product.id %>" class="product-txt product-link"><%= product.name %></a>
                    <p class="product-txt">$ <%= product.price %></p>
                </li>
            <% }) %>

        </ul>
    </section>

    <a href="#" class="all">VIEW ALL PRODUCTS</a>

    <section class="new-arrivals">
        <ul class="arrivals-grid">
            <% arrivals.forEach(arrival => { %>
                <li class="arrival">
                    <a href="/product/<%= arrival.id %>">                
                        <img src="<%= arrival.img %>" alt="<%= arrival.name %> image" class="arrival-img">
                        <div class="arrival-content">
                            <p>NEW ARRIVAL</p>
                            <h2><%= arrival.name %></h2>
                            <a href="/product/<%= arrival.id %>" class="arrival-link">SHOP NOW</a>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ul>
    </section>
    
    <section class="features">
        <ul class="features-flex">
            <li class="features-item">
                <i class="item-icon fas fa-plane"></i>
                <p class="features-txt">FREE EXPRESS SHIPPING ON ORDERS OVER $100</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-undo"></i>
                <p class="features-txt">90-DAY HASSLE-FREE RETURNS</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-medal"></i>
                <p class="features-txt">IN-HOUSE PRODUCTION WITH PREMIUM QUALITY</p>
            </li>
            <li class="features-item">
                <i class="item-icon fas fa-shield-alt"></i>
                <p class="features-txt">100% SAFE & SECURE CHEKOUT</p>
            </li>
        </ul>
    </section>
    
    <section class="social">
        <div class="social-flex">
            <a href="https://www.facebook.com/" class="social-item">
                <i class="fab fa-facebook"></i>                
            </a>
            <a href="https://twitter.com/" class="social-item">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" class="social-item">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/" class="social-item">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </section>

    <div>
        <a href="#" class="chat">            
            <i class="chat-icon fas fa-comment-dots"></i>
        </a>
    </div>

    <%- include('../partials/footer') %>
        
    <script src="/javascripts/main.js"></script>
    </body>
    </html>